.scroller__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
  width: max-content;
}

.scroller {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroller::before,
.scroller::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.scroller::before {
  left: 0;
  background: linear-gradient(to right, #0a0a0a, transparent);
}

.scroller::after {
  right: 0;
  background: linear-gradient(to left, #0a0a0a, transparent);
}
